.App {
  text-align: center;
}

.App-logo {
  //animation: App-logo-spin infinite 5s linear alternate;
  height: 220px;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
